@media screen and (max-width: 1400px) {
  #profile {
    height: 83vh;
    margin-bottom: 6rem;
  }
  .about-containers {
    flex-wrap: wrap;
  }
  #contact,
  #projects {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #about,
  #projects,
  #experience {
    height: fit-content;
  }
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: flex;
  }
  #hamburger-nav {
    display: none;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  .arrowup {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  #desktop-nav {
    display: none; /* hide desktop menu */
  }
  #hamburger-nav {
    display: flex; /* show hamburger menu */
  }
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  }
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
  .section__text__p11 {
    text-align: center;
  }
  .section__text__p22 {
    text-align: center;
  }
  .title11 {
    font-size: 3rem;
    text-align: center;
  }
  .title22 {
    font-size: 3rem;
    text-align: center;
  }
  .section__text__p11 {
    text-align: center;
  }
  .section__text__p22 {
    text-align: center;
  }
  .title11 {
    font-size: 3rem;
    text-align: center;
  }
  .title22 {
    font-size: 3rem;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
}

/* Hide background image in mobile view */

@media screen and (max-width: 1165px) {
  #about,
  #experience,
  #projects {
    background-image: none;
  }
}

@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    /* Safari-specific styles */
    .page-transition {
      transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    }
  }
}

@media screen and (max-width: 600px) {
  /* Ensuring projects stack vertically */
  .projects-wrapper {
    flex-direction: column;
    align-items: center;
    overflow: visible;
    /* No scrolling */
  }
  .project-card {
    width: 90%;
    /* Make it responsive */
    margin-bottom: 20px;
    /* Space between projects */
  }
  /* Hide scroll buttons on mobile */
  .scroll-btn {
    display: none;
  }
  #pTagProject {
    display: none;
  }
}
